<a href="https://colab.research.google.com/github/rohitpra011/PollutionPredictorUsingDecisionTreeRegressorModel/blob/main/PollutionPredictorUsingDecisionTreeRegressorModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import warnings 
warnings.filterwarnings("ignore")

In [ ]:
data = pd.read_csv('/content/sample_data/delhi_aqi.csv')
data

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2020-11-25 01:00:00,2616.88,2.18,70.60,13.59,38.62,364.61,411.73,28.63
1,2020-11-25 02:00:00,3631.59,23.25,89.11,0.33,54.36,420.96,486.21,41.04
2,2020-11-25 03:00:00,4539.49,52.75,100.08,1.11,68.67,463.68,541.95,49.14
3,2020-11-25 04:00:00,4539.49,50.96,111.04,6.44,78.20,454.81,534.00,48.13
4,2020-11-25 05:00:00,4379.27,42.92,117.90,17.17,87.74,448.14,529.19,46.61
...,...,...,...,...,...,...,...,...,...
18771,2023-01-24 04:00:00,1762.39,4.64,37.01,33.26,30.52,231.15,289.84,6.27
18772,2023-01-24 05:00:00,1735.69,6.82,34.96,46.49,34.33,225.08,280.52,9.12
18773,2023-01-24 06:00:00,1922.61,8.16,40.10,56.51,43.39,242.49,296.07,12.54
18774,2023-01-24 07:00:00,1361.85,9.05,52.78,71.53,100.14,165.67,191.82,7.47
18775,2023-01-24 08:00:00,1134.87,8.61,56.89,80.11,110.63,123.76,140.26,5.51

In [ ]:
data.head()

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2020-11-25 01:00:00,2616.88,2.18,70.60,13.59,38.62,364.61,411.73,28.63
1,2020-11-25 02:00:00,3631.59,23.25,89.11,0.33,54.36,420.96,486.21,41.04
2,2020-11-25 03:00:00,4539.49,52.75,100.08,1.11,68.67,463.68,541.95,49.14
3,2020-11-25 04:00:00,4539.49,50.96,111.04,6.44,78.20,454.81,534.00,48.13
4,2020-11-25 05:00:00,4379.27,42.92,117.90,17.17,87.74,448.14,529.19,46.61

In [ ]:
data.tail()

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
18771,2023-01-24 04:00:00,1762.39,4.64,37.01,33.26,30.52,231.15,289.84,6.27
18772,2023-01-24 05:00:00,1735.69,6.82,34.96,46.49,34.33,225.08,280.52,9.12
18773,2023-01-24 06:00:00,1922.61,8.16,40.10,56.51,43.39,242.49,296.07,12.54
18774,2023-01-24 07:00:00,1361.85,9.05,52.78,71.53,100.14,165.67,191.82,7.47
18775,2023-01-24 08:00:00,1134.87,8.61,56.89,80.11,110.63,123.76,140.26,5.51

In [ ]:
col_use=['no','no2','o3','so2','pm2_5','pm10','nh3','co']
data=data[col_use]

In [ ]:
X = data.drop("co", axis=1) # predictor variables
y = data["co"] # target variable

In [ ]:
X

          no     no2     o3     so2   pm2_5    pm10    nh3
0       2.18   70.60  13.59   38.62  364.61  411.73  28.63
1      23.25   89.11   0.33   54.36  420.96  486.21  41.04
2      52.75  100.08   1.11   68.67  463.68  541.95  49.14
3      50.96  111.04   6.44   78.20  454.81  534.00  48.13
4      42.92  117.90  17.17   87.74  448.14  529.19  46.61
...      ...     ...    ...     ...     ...     ...    ...
18771   4.64   37.01  33.26   30.52  231.15  289.84   6.27
18772   6.82   34.96  46.49   34.33  225.08  280.52   9.12
18773   8.16   40.10  56.51   43.39  242.49  296.07  12.54
18774   9.05   52.78  71.53  100.14  165.67  191.82   7.47
18775   8.61   56.89  80.11  110.63  123.76  140.26   5.51

[18776 rows x 7 columns]

In [ ]:
y

0        2616.88
1        3631.59
2        4539.49
3        4539.49
4        4379.27
          ...
18771    1762.39
18772    1735.69
18773    1922.61
18774    1361.85
18775    1134.87
Name: co, Length: 18776, dtype: float64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [ ]:
# Train the decision tree regressor model
reg = DecisionTreeRegressor().fit(X_train, y_train)


# Make predictions on the testing set
y_pred = reg.predict(X_test)



# Evaluate the performance of the model using metrics
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)
print("training score is",reg.score(X_train,y_train))
print("testing score is",reg.score(X_test,y_test))

R-squared: 0.975960302447644
training score is 1.0
testing score is 0.975960302447644

In [ ]:
new_data = [[2.18,70.6,13.59,38.62,364.61,411.73,28.63]]

In [ ]:
new_pred = reg.predict(new_data)
mgpm3=new_pred/1000
print("Predicted CO value:", new_pred," Âµg/mÂ³")
if mgpm3>=0.5 and mgpm3<=2:
    print("Air quality is good..")
elif mgpm3>2 and mgpm3<10:
    print("Air quality is moderate")
elif mgpm3>=10:
    print("Air quality is dangerous")
else:
    print("Air quality is excellent")

Predicted CO value: [2777.1]  Âµg/mÂ³
Air quality is moderate